body {
  height: 100%;
  width: 100%;
}

#header_title {
  margin-top: 10%;
  text-align: center;
}

.subheading_title {
  font-size: 10px;
}

.title_text {
  font-size: 20px;
  font-weight: 500;
}
#timer{
  display: flex;
  justify-content: center;
  margin-top:5%;
}
#timer-extends{
  text-align: center;
}
#lastfooter{
  text-align: center;
}
#lastfooters {
  margin:auto;
  background-color:#E7E7E7;
  width:25%;
  height:20%;
  border-radius: 10px;
  text-align: center!important;
}
#cleansingimg{
  float: left;
}